he-adf-salesforce-prod/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "he-adf-salesforce-prod"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blob'"
		},
		"hepartspartialsb_hepartial_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'hepartspartialsb_hepartial'"
		},
		"hepartspartialsb_hepartial_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'hepartspartialsb_hepartial'"
		},
		"pronto_ftp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'pronto_ftp'"
		},
		"customer_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "CUSTOMER.xml"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://hesfintegration.azurewebsites.net"
		},
		"hepartspartialsb_hepartial_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"hepartspartialsb_hepartial_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "integration@dom-ex.com"
		},
		"pronto_ftp_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "40.77.111.157"
		},
		"pronto_ftp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "prontosalesforce"
		},
		"sfi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://40.77.111.157/prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/0-run_all')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "2-run_stocks_only",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1-run_customers_only",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2-run_stocks_only",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "3-run_SO_only",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2-run_stocks_only",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3-run_SO_only",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "1-run_customers_only",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "set_run_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1-run_customers_only",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Delete_run_file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "3-run_SO_only",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "blob_csv",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/",
									"filename": "__running.txt"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "set_run_file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "status",
										"value": "running"
									},
									{
										"name": "date",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_csv",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/",
									"filename": "__running.txt"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/2-run_stocks_only')]",
				"[concat(variables('factoryId'), '/pipelines/3-run_SO_only')]",
				"[concat(variables('factoryId'), '/pipelines/1-run_customers_only')]",
				"[concat(variables('factoryId'), '/datasets/blob_csv')]",
				"[concat(variables('factoryId'), '/datasets/dummy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1-run_customers_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DEB_MASTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "DEB_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "deb_master.xml"
								}
							}
						]
					},
					{
						"name": "name and address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "NAME_AND_ADDRESS_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "name_address_master.xml"
								}
							}
						]
					},
					{
						"name": "Account_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "usermapping_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,Pronto_Global_Account__c,MSUS_Pronto__c from Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Account"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "account.json"
								}
							}
						]
					},
					{
						"name": "usermapping_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "name and address",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DEB_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "ERP_Territory__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "usermapping.json"
								}
							}
						]
					},
					{
						"name": "delete_ftp",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "DEB_MASTER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "delete_ftp_name_and_address",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "delete_ftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "NAME_AND_ADDRESS_MASTER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "account_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "DEB_MASTER*.xml",
									"useBinaryTransfer": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					},
					{
						"name": "copy_to_processed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "NAME_AND_ADDRESS_MASTER*.xml",
									"useBinaryTransfer": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					},
					{
						"name": "call pass deb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Account_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:15:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "deb"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "account_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass deb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Pronto_Global_Account__c",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSUS_Pronto__c']"
										},
										"sink": {
											"name": "MSUS_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Canada_Pronto__c']"
										},
										"sink": {
											"name": "Canada_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ESUS_Pronto__c']"
										},
										"sink": {
											"name": "ESUS_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSAU_Pronto__c']"
										},
										"sink": {
											"name": "MSAU_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSAU_CD_Pronto__c']"
										},
										"sink": {
											"name": "MSAU_CD_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Global_Account__c']"
										},
										"sink": {
											"name": "Pronto_Global_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingStreet']"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingCity']"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingState']"
										},
										"sink": {
											"name": "BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingPostalCode']"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingCountry']"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingStreet']"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingCity']"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingState']"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingPostalCode']"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingCountry']"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Phone']"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Territory_ID__c']"
										},
										"sink": {
											"name": "Territory_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Allgo_Pronto__c']"
										},
										"sink": {
											"name": "Allgo_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Zambia_Pronto__c']"
										},
										"sink": {
											"name": "Zambia_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Canada_Sales_Rep__c']"
										},
										"sink": {
											"name": "Morgan_Canada_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['B_G_Sales_Rep__c']"
										},
										"sink": {
											"name": "B_G_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSAU_CD_Sales_Rep__c']"
										},
										"sink": {
											"name": "MSAU_CD_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSAU_ED_Sales_Rep__c']"
										},
										"sink": {
											"name": "MSAU_ED_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Birrana_Sales_Rep__c']"
										},
										"sink": {
											"name": "Birrana_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Allgo_Sales_Rep__c']"
										},
										"sink": {
											"name": "Allgo_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSZM_Sales_Rep__c']"
										},
										"sink": {
											"name": "MSZM_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CSAU_Pronto__c']"
										},
										"sink": {
											"name": "CSAU_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Sales_Rep__c']"
										},
										"sink": {
											"name": "CME_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Dom_Ex_Pronto__c']"
										},
										"sink": {
											"name": "Dom_Ex_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Chile_Pronto__c']"
										},
										"sink": {
											"name": "Chile_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Dom_Ex_Sales_Rep__c']"
										},
										"sink": {
											"name": "Dom_Ex_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Chile_Sales_Rep__c']"
										},
										"sink": {
											"name": "Morgan_Chile_Sales_Rep__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "account.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Account"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_TEXT')]",
				"[concat(variables('factoryId'), '/datasets/blob_TEXT')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/FTP_BIN')]",
				"[concat(variables('factoryId'), '/datasets/blob_bin')]",
				"[concat(variables('factoryId'), '/datasets/sfi_dset')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2-run_stocks_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STOCK_MASTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": false,
									"wildcardFileName": "STOCK_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "stock_master.xml"
								}
							}
						]
					},
					{
						"name": "products",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass stock",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "insert",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['IsActive']"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['SKU__c']"
										},
										"sink": {
											"name": "SKU__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Part_num__c']"
										},
										"sink": {
											"name": "Part_num__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Standard_Price__c']"
										},
										"sink": {
											"name": "Crown_Standard_Price__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['OEM_Retail_Price__c']"
										},
										"sink": {
											"name": "OEM_Retail_Price__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Product_Key__c']"
										},
										"sink": {
											"name": "Product_Key__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Family']"
										},
										"sink": {
											"name": "Family",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Category__c']"
										},
										"sink": {
											"name": "Product_Category__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Group_Code__c']"
										},
										"sink": {
											"name": "Product_Group_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Group_Description__c']"
										},
										"sink": {
											"name": "Product_Group_Description__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Class__c']"
										},
										"sink": {
											"name": "Product_Class__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "product2.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Product2"
								}
							}
						]
					},
					{
						"name": "delete_ftp_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "products",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "STOCK_MASTER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "call pass stock",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "STOCK_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "STOCK_HIERARCHY_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "STOCK_HIERARCHY_TREE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SALES_ORDER_LINES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:15:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "stock"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "STOCK_HIERARCHY_MASTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": false,
									"wildcardFileName": "STOCK_HIERARCHY_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "stock_h_master.xml"
								}
							}
						]
					},
					{
						"name": "STOCK_HIERARCHY_TREE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": false,
									"wildcardFileName": "STOCK_HIERARCHY_TREE-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "stock_h_tree.xml"
								}
							}
						]
					},
					{
						"name": "SALES_ORDER_LINES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": false,
									"wildcardFileName": "SALES_ORDER_LINE-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "salesorder_lines.xml"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_TEXT')]",
				"[concat(variables('factoryId'), '/datasets/blob_TEXT')]",
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/FTP_BIN')]",
				"[concat(variables('factoryId'), '/datasets/sfi_dset')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3-run_SO_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "so_all_ftp_to_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "SALES_ORDER*.xml",
									"useBinaryTransfer": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "queue"
								}
							}
						]
					},
					{
						"name": "delete_ftp",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "SALES_ORDER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "usermapping_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('nn'),'0')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set nn",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "getNN",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "nn",
										"value": {
											"value": "@activity('getNN').output.firstRow.Prop_0",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set nn",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(variables('nn'),'0'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "run_SO_only_inner",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {}
												}
											}
										]
									}
								},
								{
									"name": "call pass q-so",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:15:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "sfi_dset",
											"type": "DatasetReference",
											"parameters": {
												"pass": "q-so"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "blob_TEXT",
											"type": "DatasetReference",
											"parameters": {
												"folder": "runs",
												"filename": "sfi_call.txt"
											}
										}
									]
								},
								{
									"name": "getNN",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "call pass q-so",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "blob_TEXT",
											"type": "DatasetReference",
											"parameters": {
												"folder": "runs",
												"filename": "sfi_call.txt"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "usermapping_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "delete_ftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "ERP_Territory__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "usermapping.json"
								}
							}
						]
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "so_all_ftp_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "SALES_ORDER*.xml",
									"useBinaryTransfer": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					}
				],
				"variables": {
					"nn": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_BIN')]",
				"[concat(variables('factoryId'), '/datasets/blob_bin')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/sfi_dset')]",
				"[concat(variables('factoryId'), '/datasets/blob_TEXT')]",
				"[concat(variables('factoryId'), '/pipelines/run_SO_only_inner')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/after pass 1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "opportunity_to_sf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Morgan_External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/opphead"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SoInvoiceNo__c']"
										},
										"sink": {
											"name": "Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quote_ID__c']"
										},
										"sink": {
											"name": "Crown_Quote_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_External_ID__c']"
										},
										"sink": {
											"name": "Morgan_External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AccountId']"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['HE_Partner__c']"
										},
										"sink": {
											"name": "HE_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "CME_Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quoted_By__c']"
										},
										"sink": {
											"name": "Crown_Quoted_By__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Date_Quote_Created__c']"
										},
										"sink": {
											"name": "Date_Quote_Created__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Order_Status_Code__c']"
										},
										"sink": {
											"name": "CME_Order_Status_Code__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CloseDate']"
										},
										"sink": {
											"name": "CloseDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['StageName']"
										},
										"sink": {
											"name": "StageName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Order_Status__c']"
										},
										"sink": {
											"name": "Order_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Amount']"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quote_Total__c']"
										},
										"sink": {
											"name": "Crown_Quote_Total__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Customer_PO_No__c']"
										},
										"sink": {
											"name": "Customer_PO_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customer_P_O__c']"
										},
										"sink": {
											"name": "Customer_P_O__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Morgan_GST_Tax__c']"
										},
										"sink": {
											"name": "Morgan_GST_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Invoice_No__c']"
										},
										"sink": {
											"name": "CME_Invoice_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						]
					},
					{
						"name": "getProdKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "salesorder_prodkeys.json"
								}
							}
						}
					},
					{
						"name": "invoice_to_sf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/invhead"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Order_No__c']"
										},
										"sink": {
											"name": "Sales_Order_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Invoice__c']"
										},
										"sink": {
											"name": "Crown_Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Account_Name__c']"
										},
										"sink": {
											"name": "Account_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Sales_Value__c']"
										},
										"sink": {
											"name": "Sales_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoices.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						]
					},
					{
						"name": "get inv from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get Prod and Pricebook",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,External_ID__c from Invoices_Crown__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "invoices.json"
								}
							}
						]
					},
					{
						"name": "getOppKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_keys.json"
								}
							}
						}
					},
					{
						"name": "get Prod and Pricebook",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set query",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@variables('q')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Product2"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_csv",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "productpricebook.csv"
								}
							}
						]
					},
					{
						"name": "set query",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getProdKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "q",
							"value": {
								"value": "@concat('select Id,Product2.Id,Product2.Product_Key__c,CurrencyIsoCode from PriceBookEntry where IsActive=true',if(greater(lastindexof(activity('getProdKeys').output.firstRow.keys,','),90000),'',concat(' and Product2.Product_Key__c in (',activity('getProdKeys').output.firstRow.keys,')')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get Opp from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "getOppKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat('select Id,Name from Opportunity where Crown_Quote_ID__c in (',activity('getOppKeys').output.firstRow.keys,')')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					}
				],
				"variables": {
					"q": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/blob_csv')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/after pass1 for bulk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get Opp from sf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,Name from Opportunity",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/blob_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/after pass2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OppLine_upsert",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/oppline"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rowstate__c']"
										},
										"sink": {
											"name": "rowstate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OpportunityId']"
										},
										"sink": {
											"name": "OpportunityId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PricebookEntryId']"
										},
										"sink": {
											"name": "PricebookEntryId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SortOrder__c']"
										},
										"sink": {
											"name": "SortOrder__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['UnitPrice']"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Item_Cost__c']"
										},
										"sink": {
											"name": "CME_Item_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Value__c']"
										},
										"sink": {
											"name": "Shipped_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Code__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Name__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Suffix__c']"
										},
										"sink": {
											"name": "Back_Order_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Transaction_Type__c']"
										},
										"sink": {
											"name": "Transaction_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Qty__c']"
										},
										"sink": {
											"name": "Back_Order_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Qty__c']"
										},
										"sink": {
											"name": "Shipped_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Crown_Customer_ID_Number__c']"
										},
										"sink": {
											"name": "Crown_Customer_ID_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Tax_Rate__c']"
										},
										"sink": {
											"name": "Tax_Rate__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Line_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Line_Amount__c",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_line_upsert.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						]
					},
					{
						"name": "invLine_upsert",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/invline"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoices_Crown__c']"
										},
										"sink": {
											"name": "Invoices_Crown__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product__c']"
										},
										"sink": {
											"name": "Product__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Class__c']"
										},
										"sink": {
											"name": "Product_Class__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['B_O_Suffix__c']"
										},
										"sink": {
											"name": "B_O_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity__c']"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_B_O__c']"
										},
										"sink": {
											"name": "Quantity_B_O__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_Shipped__c']"
										},
										"sink": {
											"name": "Quantity_Shipped__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Price_per_Part__c']"
										},
										"sink": {
											"name": "Price_per_Part__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoice_lines.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoice_Line_Item_Crown__c"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "delete_ftp",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "delete_intake_xml",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "delete_ftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "*.xml"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"wildcardFileName": "*.xml"
							}
						}
					},
					{
						"name": "delete_intake_json",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "delete_intake_xml",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "*.json"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"wildcardFileName": "*.json"
							}
						}
					},
					{
						"name": "delete_stage_json",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "delete_intake_json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "*.json"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"wildcardFileName": "*.json"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_BIN')]",
				"[concat(variables('factoryId'), '/datasets/blob_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/run_SO_only_inner')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "opportunity_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Morgan_External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SoInvoiceNo__c']"
										},
										"sink": {
											"name": "Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_External_ID__c']"
										},
										"sink": {
											"name": "Morgan_External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AccountId']"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['HE_Partner__c']"
										},
										"sink": {
											"name": "HE_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "CME_Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quoted_By__c']"
										},
										"sink": {
											"name": "Crown_Quoted_By__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Date_Quote_Created__c']"
										},
										"sink": {
											"name": "Date_Quote_Created__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Order_Status_Code__c']"
										},
										"sink": {
											"name": "CME_Order_Status_Code__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CloseDate']"
										},
										"sink": {
											"name": "CloseDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['StageName']"
										},
										"sink": {
											"name": "StageName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Order_Status__c']"
										},
										"sink": {
											"name": "Order_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Amount']"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quote_Total__c']"
										},
										"sink": {
											"name": "Crown_Quote_Total__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Customer_PO_No__c']"
										},
										"sink": {
											"name": "Customer_PO_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customer_P_O__c']"
										},
										"sink": {
											"name": "Customer_P_O__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Morgan_GST_Tax__c']"
										},
										"sink": {
											"name": "Morgan_GST_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Invoice_No__c']"
										},
										"sink": {
											"name": "CME_Invoice_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						]
					},
					{
						"name": "OppLine_upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rowstate__c']"
										},
										"sink": {
											"name": "rowstate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OpportunityId']"
										},
										"sink": {
											"name": "OpportunityId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PricebookEntryId']"
										},
										"sink": {
											"name": "PricebookEntryId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SortOrder__c']"
										},
										"sink": {
											"name": "SortOrder__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['UnitPrice']"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Item_Cost__c']"
										},
										"sink": {
											"name": "CME_Item_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Value__c']"
										},
										"sink": {
											"name": "Shipped_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Code__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Name__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Suffix__c']"
										},
										"sink": {
											"name": "Back_Order_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Transaction_Type__c']"
										},
										"sink": {
											"name": "Transaction_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Qty__c']"
										},
										"sink": {
											"name": "Back_Order_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Qty__c']"
										},
										"sink": {
											"name": "Shipped_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Crown_Customer_ID_Number__c']"
										},
										"sink": {
											"name": "Crown_Customer_ID_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Tax_Rate__c']"
										},
										"sink": {
											"name": "Tax_Rate__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Line_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Line_Amount__c",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_line_upsert.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						]
					},
					{
						"name": "getProdKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "salesorder_prodkeys.json"
								}
							}
						}
					},
					{
						"name": "invoice_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Order_No__c']"
										},
										"sink": {
											"name": "Sales_Order_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Invoice__c']"
										},
										"sink": {
											"name": "Crown_Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Account_Name__c']"
										},
										"sink": {
											"name": "Account_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Sales_Value__c']"
										},
										"sink": {
											"name": "Sales_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoices.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						]
					},
					{
						"name": "get inv from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get Prod and Pricebook",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,External_ID__c from Invoices_Crown__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "invoices.json"
								}
							}
						]
					},
					{
						"name": "invLine_upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoices_Crown__c']"
										},
										"sink": {
											"name": "Invoices_Crown__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product__c']"
										},
										"sink": {
											"name": "Product__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['B_O_Suffix__c']"
										},
										"sink": {
											"name": "B_O_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity__c']"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_B_O__c']"
										},
										"sink": {
											"name": "Quantity_B_O__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_Shipped__c']"
										},
										"sink": {
											"name": "Quantity_Shipped__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Price_per_Part__c']"
										},
										"sink": {
											"name": "Price_per_Part__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoice_lines.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoice_Line_Item_Crown__c"
								}
							}
						]
					},
					{
						"name": "getOppKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_keys.json"
								}
							}
						}
					},
					{
						"name": "get Opp from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "getOppKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat('select Id,Name,Morgan_External_ID__c from Opportunity where Morgan_External_ID__c in (',activity('getOppKeys').output.firstRow.keys,')')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					},
					{
						"name": "get Prod and Pricebook",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set query",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@variables('q')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Product2"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_csv",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "productpricebook.csv"
								}
							}
						]
					},
					{
						"name": "set query",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getProdKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "tag",
							"value": {
								"value": "@concat('select Id,Product2.Id,Product2.Product_Key__c,CurrencyIsoCode from PriceBookEntry where IsActive=true',if(greater(lastindexof(activity('getProdKeys').output.firstRow.keys,','),90000),'',concat(' and Product2.Product_Key__c in (',activity('getProdKeys').output.firstRow.keys,')')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "call pass 1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 0-so",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:15:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "call pass 2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get inv from sf",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get Opp from sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:15:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "2"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "call pass 0-so",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set tag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:15:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "0-so"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "set tag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "tag",
							"value": {
								"value": "@concat('data/logs/',formatDateTime(utcnow(),'yyyy-MM-ddTHH:mm'))",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"tag": {
						"type": "String"
					},
					"q": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/datasets/blob_csv')]",
				"[concat(variables('factoryId'), '/datasets/sfi_dset')]",
				"[concat(variables('factoryId'), '/datasets/blob_TEXT')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/run_so_res')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OppLine_upsert",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/oppline"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rowstate__c']"
										},
										"sink": {
											"name": "rowstate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OpportunityId']"
										},
										"sink": {
											"name": "OpportunityId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PricebookEntryId']"
										},
										"sink": {
											"name": "PricebookEntryId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SortOrder__c']"
										},
										"sink": {
											"name": "SortOrder__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['UnitPrice']"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Item_Cost__c']"
										},
										"sink": {
											"name": "CME_Item_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Value__c']"
										},
										"sink": {
											"name": "Shipped_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Code__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Name__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Suffix__c']"
										},
										"sink": {
											"name": "Back_Order_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Transaction_Type__c']"
										},
										"sink": {
											"name": "Transaction_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Qty__c']"
										},
										"sink": {
											"name": "Back_Order_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Qty__c']"
										},
										"sink": {
											"name": "Shipped_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Crown_Customer_ID_Number__c']"
										},
										"sink": {
											"name": "Crown_Customer_ID_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Tax_Rate__c']"
										},
										"sink": {
											"name": "Tax_Rate__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Line_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Line_Amount__c",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_line_upsert.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						]
					},
					{
						"name": "invLine_upsert",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/invline"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoices_Crown__c']"
										},
										"sink": {
											"name": "Invoices_Crown__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product__c']"
										},
										"sink": {
											"name": "Product__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product_Class__c']"
										},
										"sink": {
											"name": "Product_Class__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['B_O_Suffix__c']"
										},
										"sink": {
											"name": "B_O_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity__c']"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_B_O__c']"
										},
										"sink": {
											"name": "Quantity_B_O__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_Shipped__c']"
										},
										"sink": {
											"name": "Quantity_Shipped__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Price_per_Part__c']"
										},
										"sink": {
											"name": "Price_per_Part__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoice_lines.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoice_Line_Item_Crown__c"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_json')]",
				"[concat(variables('factoryId'), '/datasets/salesforce_OBJ')]",
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP_BIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pronto_ftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP_TEXT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation"
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pronto_ftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP_TEXT_dst')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pronto_ftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Opportunity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hepartspartialsb_hepartial",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Opportunity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hepartspartialsb_hepartial')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_TEXT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_bin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"container": "data"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"container": "data"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"fileName": "[parameters('customer_properties_typeProperties_fileName')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pronto_ftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": "__dummy_donot_remove.txt"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pronto_ftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesforce_OBJ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hepartspartialsb_hepartial",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"objName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().objName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hepartspartialsb_hepartial')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sfi_dset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sfi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pass": {
						"type": "string",
						"defaultValue": "x"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('?pass=',dataset().pass)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sfi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "https://hesfintegration.azurewebsites.net/api/HttpTrigger1?code=Qvr7LLHCVuE7GKJmsGRy1Whx8TcNTgTOgc9UXjTzV62vEpRoqji2kA==",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hepartspartialsb_hepartial')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('hepartspartialsb_hepartial_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('hepartspartialsb_hepartial_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('hepartspartialsb_hepartial_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('hepartspartialsb_hepartial_securityToken')]"
					}
				},
				"connectVia": {
					"referenceName": "IRforSF",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IRforSF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pronto_ftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('pronto_ftp_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('pronto_ftp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('pronto_ftp_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sfi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('sfi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "0-run_all",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-03-06T14:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/0-run_all')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IRforSF')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}