adf/pipeline/3-run_SO_only.json
{
	"name": "3-run_SO_only",
	"properties": {
		"activities": [
			{
				"name": "so_all_ftp_to_blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": "SALES_ORDER_*.xml",
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "queue"
						}
					}
				]
			},
			{
				"name": "delete_ftp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy to processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": false,
						"wildcardFileName": "SALES_ORDER*.xml",
						"useBinaryTransfer": true
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "usermapping_from_sf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('nn'),'0')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "call pass_q-so",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "HttpTrigger1",
								"method": "POST",
								"body": {
									"pass": "q-so"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set nn",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "call pass_q-so",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nn",
								"value": {
									"value": "@string(activity('call pass_q-so').output.status)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set nn",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(variables('nn'),'0'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "run_so_only_inner",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "run_SO_only_inner",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "usermapping_from_sf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "delete_ftp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "ERP_Territory__c"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "intake",
							"filename": "usermapping.json"
						}
					}
				]
			},
			{
				"name": "copy to processed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "so_all_ftp_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "processed"
						}
					}
				]
			}
		],
		"variables": {
			"nn": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Pronto_SF"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}