adf/pipeline/3-run_SO_only.json
{
	"name": "3-run_SO_only",
	"properties": {
		"activities": [
			{
				"name": "so_all_ftp_to_blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": "SALES_ORDER*.xml",
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "queue"
						}
					}
				]
			},
			{
				"name": "delete_ftp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy_to_processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": false,
						"wildcardFileName": "SALES_ORDER*.xml",
						"useBinaryTransfer": true
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "usermapping_from_sf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('nn'),'0')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set nn",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getNN",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nn",
								"value": {
									"value": "@activity('getNN').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set nn",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(variables('nn'),'0'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "run_so_only_inner",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "call pass 0-so",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "run_SO_only_inner",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									},
									{
										"name": "call pass 0-so",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "sfi_dset",
												"type": "DatasetReference",
												"parameters": {
													"pass": "0-so"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "blob_TEXT",
												"type": "DatasetReference",
												"parameters": {
													"folder": "runs",
													"filename": "sfi_call.txt"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "call pass q-so",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "sfi_dset",
									"type": "DatasetReference",
									"parameters": {
										"pass": "q-so"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "blob_TEXT",
									"type": "DatasetReference",
									"parameters": {
										"folder": "runs",
										"filename": "sfi_call.txt"
									}
								}
							]
						},
						{
							"name": "getNN",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "call pass q-so",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "blob_TEXT",
									"type": "DatasetReference",
									"parameters": {
										"folder": "runs",
										"filename": "sfi_call.txt"
									}
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "usermapping_from_sf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "delete_ftp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "ERP_Territory__c"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "intake",
							"filename": "usermapping.json"
						}
					}
				]
			},
			{
				"name": "copy_to_processed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "so_all_ftp_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": "SALES_ORDER*.xml",
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "processed"
						}
					}
				]
			}
		],
		"variables": {
			"nn": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Pronto_SF"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}