adf/pipeline/run_SO_only.json
{
	"name": "run_SO_only",
	"properties": {
		"activities": [
			{
				"name": "so_ftp_to_blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": "SALES_ORDER_PRONTO-*.xml",
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "queue"
						}
					}
				]
			},
			{
				"name": "so_lines_ftp_to_blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": "SALES_ORDER_LINE-*.xml",
							"useBinaryTransfer": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_bin",
						"type": "DatasetReference",
						"parameters": {
							"folder": "queue"
						}
					}
				]
			},
			{
				"name": "call pass_0-so",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "so_lines_ftp_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "so_ftp_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"method": "POST",
					"body": {
						"pass": "0-so"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "call pass_0-so",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('call pass_0-so').output.status,'0'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "run_so_only_inner",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "run_SO_only_inner",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "delete_ftp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FTP_BIN",
						"type": "DatasetReference",
						"parameters": {
							"folder": "/"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": false,
						"wildcardFileName": "SALES_ORDER*.xml",
						"useBinaryTransfer": true
					}
				}
			}
		],
		"folder": {
			"name": "Pronto_SF"
		},
		"annotations": []
	}
}