adf/pipeline/x3.json
{
	"name": "x3",
	"properties": {
		"activities": [
			{
				"name": "opportunity_to_sf",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Crown_Quote_ID__c",
						"ignoreNullValues": true
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "stage",
							"filename": "opportunity.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "Opportunity"
						}
					}
				]
			},
			{
				"name": "get Opp from sf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get Prod and Pricebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select Id,Name from Opportunity",
						"readBehavior": "query"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "Opportunity"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "intake",
							"filename": "opps_head.json"
						}
					}
				]
			},
			{
				"name": "get oppLineitems from sf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get Prod and Pricebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select id,OpportunityId,External_ID__c from  OpportunityLineItem",
						"readBehavior": "query"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "OpportunityLineItem"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "intake",
							"filename": "opp_lines.json"
						}
					}
				]
			},
			{
				"name": "get Prod and Pricebook",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getKeys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "@concat('select Id,Product2.Id,Product2.Product_Key__c from PriceBookEntry where IsActive=true and Product2.Product_Key__c in (',activity('getKeys').output.firstRow.keys,')')",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "Product2"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_csv",
						"type": "DatasetReference",
						"parameters": {
							"folder": "stage",
							"filename": "productpricebook.csv"
						}
					}
				]
			},
			{
				"name": "getKeys",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "opportunity_to_sf",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "invoice_to_sf",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "stage",
							"filename": "salesorder_prodkeys.json"
						}
					}
				}
			},
			{
				"name": "invoice_to_sf",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Sales_Order_No__c",
						"ignoreNullValues": true
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false
				},
				"inputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "stage",
							"filename": "invoices.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "Opportunity"
						}
					}
				]
			},
			{
				"name": "get inv from sf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get Prod and Pricebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select Id,Name from Invoices_Crown__c",
						"readBehavior": "query"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "salesforce_OBJ",
						"type": "DatasetReference",
						"parameters": {
							"objName": "Invoices_Crown__c"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blob_json",
						"type": "DatasetReference",
						"parameters": {
							"folder": "intake",
							"filename": "invoices.json"
						}
					}
				]
			}
		],
		"annotations": []
	}
}