he-adf-salesforce-prod/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "he-adf-salesforce-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/run_so_res')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Opportunity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,Name,Date_Quote_Created__c from Opportunity",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					},
					{
						"name": "oppLineitems",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id,OpportunityId,External_ID__c from  OpportunityLineItem",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opp_lines.json"
								}
							}
						]
					},
					{
						"name": "get Opp from sf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,Name from Opportunity",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					},
					{
						"name": "get oppLineitems from sf",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select id,OpportunityId,External_ID__c from  OpportunityLineItem",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opp_lines.json"
								}
							}
						]
					},
					{
						"name": "call pass_0-so",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HttpTrigger1",
							"method": "POST",
							"headers": {},
							"body": {
								"pass": "0-so"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/3-run_SO_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "so_all_ftp_to_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "SALES_ORDER*.xml",
									"useBinaryTransfer": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "queue"
								}
							}
						]
					},
					{
						"name": "delete_ftp",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "SALES_ORDER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "usermapping_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('nn'),'0')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "call pass_q-so",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "HttpTrigger1",
										"method": "POST",
										"headers": {},
										"body": {
											"pass": "q-so"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunction1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set nn",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "call pass_q-so",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "nn",
										"value": {
											"value": "@string(activity('call pass_q-so').output.status)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set nn",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(variables('nn'),'0'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "run_so_only_inner",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "call pass_0-so",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "run_SO_only_inner",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {}
												}
											},
											{
												"name": "call pass_0-so",
												"type": "AzureFunctionActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"functionName": "HttpTrigger1",
													"method": "POST",
													"headers": {},
													"body": {
														"pass": "0-so"
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureFunction1",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "usermapping_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "delete_ftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "ERP_Territory__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "usermapping.json"
								}
							}
						]
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "so_all_ftp_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "SALES_ORDER*.xml",
									"useBinaryTransfer": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					}
				],
				"variables": {
					"nn": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "2-run_stocks_only",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "1-run_customers_only",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-03-06T14:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "3-run_SO_only",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-03-07T02:15:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/3-run_SO_only')]"
			]
		}
	]
}