he-adf-salesforce-prod/PartialArmTemplates/ArmTemplate_7_10_2020_21_53_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "he-adf-salesforce-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/1-run_customers_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DEB_MASTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "DEB_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "deb_master.xml"
								}
							}
						]
					},
					{
						"name": "name and address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "NAME_AND_ADDRESS_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "name_address_master.xml"
								}
							}
						]
					},
					{
						"name": "Account_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "usermapping_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,Pronto_Global_Account__c,MSUS_Pronto__c from Account",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Account"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "account.json"
								}
							}
						]
					},
					{
						"name": "usermapping_from_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "name and address",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DEB_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "ERP_Territory__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "usermapping.json"
								}
							}
						]
					},
					{
						"name": "delete_ftp",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "DEB_MASTER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "delete_ftp_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "delete_ftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "NAME_AND_ADDRESS_MASTER*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "account_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "DEB_MASTER*.xml",
									"useBinaryTransfer": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					},
					{
						"name": "copy_to_processed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "NAME_AND_ADDRESS_MASTER*.xml",
									"useBinaryTransfer": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_bin",
								"type": "DatasetReference",
								"parameters": {
									"folder": "processed"
								}
							}
						]
					},
					{
						"name": "call pass deb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Account_from_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "deb"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "account_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass deb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Pronto_Global_Account__c",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": "data/logs/accounts"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSUS_Pronto__c']"
										},
										"sink": {
											"name": "MSUS_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Canada_Pronto__c']"
										},
										"sink": {
											"name": "Canada_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ESUS_Pronto__c']"
										},
										"sink": {
											"name": "ESUS_Pronto__c"
										}
									},
									{
										"source": {
											"path": "$['MSAU_Pronto__c']"
										},
										"sink": {
											"name": "MSAU_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['MSAU_CD_Pronto__c']"
										},
										"sink": {
											"name": "MSAU_CD_Pronto__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Global_Account__c']"
										},
										"sink": {
											"name": "Pronto_Global_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingStreet']"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingCity']"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingState']"
										},
										"sink": {
											"name": "BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingPostalCode']"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['BillingCountry']"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingStreet']"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingCity']"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingState']"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingPostalCode']"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ShippingCountry']"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Phone']"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Territory_ID__c']"
										},
										"sink": {
											"name": "Territory_ID__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "account.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Account"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_TEXT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2-run_stocks_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STOCK_MASTER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"wildcardFileName": "STOCK_MASTER-*.xml",
									"useBinaryTransfer": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1
						},
						"inputs": [
							{
								"referenceName": "FTP_TEXT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "stock_master.xml"
								}
							}
						]
					},
					{
						"name": "products",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass stock",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Product_Key__c",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['IsActive']"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['SKU__c']"
										},
										"sink": {
											"name": "SKU__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Part_num__c']"
										},
										"sink": {
											"name": "Part_num__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Standard_Price__c']"
										},
										"sink": {
											"name": "Crown_Standard_Price__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['OEM_Retail_Price__c']"
										},
										"sink": {
											"name": "OEM_Retail_Price__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Product_Key__c']"
										},
										"sink": {
											"name": "Product_Key__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Family']"
										},
										"sink": {
											"name": "Family",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "product2.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Product2"
								}
							}
						]
					},
					{
						"name": "delete_ftp_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FTP_BIN",
								"type": "DatasetReference",
								"parameters": {
									"folder": "/"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": false,
								"wildcardFileName": "STOCK_*.xml",
								"useBinaryTransfer": true
							}
						}
					},
					{
						"name": "call pass stock",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "STOCK_MASTER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "stock"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FTP_TEXT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP_TEXT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pronto_ftp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation"
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "2-run_stocks_only",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "1-run_customers_only",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-03-06T14:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/2-run_stocks_only')]",
				"[concat(variables('factoryId'), '/pipelines/1-run_customers_only')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "3-run_SO_only",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-03-07T02:15:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		}
	]
}