he-adf-salesforce-prod/PartialArmTemplates/ArmTemplate_7_30_2021_10_32_57.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "he-adf-salesforce-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/run_SO_only_inner')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "opportunity_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "Morgan_External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SoInvoiceNo__c']"
										},
										"sink": {
											"name": "Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_External_ID__c']"
										},
										"sink": {
											"name": "Morgan_External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AccountId']"
										},
										"sink": {
											"name": "AccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['HE_Partner__c']"
										},
										"sink": {
											"name": "HE_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "CME_Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quoted_By__c']"
										},
										"sink": {
											"name": "Crown_Quoted_By__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Date_Quote_Created__c']"
										},
										"sink": {
											"name": "Date_Quote_Created__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Order_Status_Code__c']"
										},
										"sink": {
											"name": "CME_Order_Status_Code__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CloseDate']"
										},
										"sink": {
											"name": "CloseDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['StageName']"
										},
										"sink": {
											"name": "StageName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Order_Status__c']"
										},
										"sink": {
											"name": "Order_Status__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Amount']"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Quote_Total__c']"
										},
										"sink": {
											"name": "Crown_Quote_Total__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Customer_PO_No__c']"
										},
										"sink": {
											"name": "Customer_PO_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customer_P_O__c']"
										},
										"sink": {
											"name": "Customer_P_O__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Morgan_GST_Tax__c']"
										},
										"sink": {
											"name": "Morgan_GST_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Invoice_No__c']"
										},
										"sink": {
											"name": "CME_Invoice_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SO_Type_Code__c']"
										},
										"sink": {
											"name": "SO_Type_Code__c"
										}
									},
									{
										"source": {
											"path": "$['SO_Reason_Code__c']"
										},
										"sink": {
											"name": "SO_Reason_Code__c"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						]
					},
					{
						"name": "OppLine_upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rowstate__c']"
										},
										"sink": {
											"name": "rowstate__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OpportunityId']"
										},
										"sink": {
											"name": "OpportunityId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PricebookEntryId']"
										},
										"sink": {
											"name": "PricebookEntryId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SortOrder__c']"
										},
										"sink": {
											"name": "SortOrder__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['UnitPrice']"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Item_Cost__c']"
										},
										"sink": {
											"name": "CME_Item_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Value__c']"
										},
										"sink": {
											"name": "Shipped_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['CME_Total_Cost__c']"
										},
										"sink": {
											"name": "CME_Total_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Code__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CME_Product_Group_Name__c']"
										},
										"sink": {
											"name": "CME_Product_Group_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Suffix__c']"
										},
										"sink": {
											"name": "Back_Order_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Transaction_Type__c']"
										},
										"sink": {
											"name": "Transaction_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Back_Order_Qty__c']"
										},
										"sink": {
											"name": "Back_Order_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Shipped_Qty__c']"
										},
										"sink": {
											"name": "Shipped_Qty__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Crown_Customer_ID_Number__c']"
										},
										"sink": {
											"name": "Crown_Customer_ID_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Tax_Rate__c']"
										},
										"sink": {
											"name": "Tax_Rate__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Line_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Line_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Comments__c']"
										},
										"sink": {
											"name": "Comments__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_line_upsert.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "OpportunityLineItem"
								}
							}
						]
					},
					{
						"name": "getProdKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "salesorder_prodkeys.json"
								}
							}
						}
					},
					{
						"name": "invoice_to_sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 40,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Order_No__c']"
										},
										"sink": {
											"name": "Sales_Order_No__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Invoice__c']"
										},
										"sink": {
											"name": "Crown_Invoice__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Account_Name__c']"
										},
										"sink": {
											"name": "Account_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Pronto_Account__c']"
										},
										"sink": {
											"name": "Pronto_Account__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['OwnerId']"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoice_Date__c']"
										},
										"sink": {
											"name": "Invoice_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Amount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Territory_Code__c']"
										},
										"sink": {
											"name": "Territory_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Crown_Sales_Rep__c']"
										},
										"sink": {
											"name": "Crown_Sales_Rep__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Sales_Rep_Code__c']"
										},
										"sink": {
											"name": "Sales_Rep_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Delivery_Date__c']"
										},
										"sink": {
											"name": "Delivery_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Cost__c']"
										},
										"sink": {
											"name": "Total_Ordered_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Charges__c']"
										},
										"sink": {
											"name": "Total_Charges__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Sales_Value__c']"
										},
										"sink": {
											"name": "Sales_Value__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Ordered_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Ordered_Discount__c']"
										},
										"sink": {
											"name": "Total_Ordered_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Discount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Discount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Amount__c']"
										},
										"sink": {
											"name": "Total_Shipped_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Tax_Adj__c']"
										},
										"sink": {
											"name": "Total_Shipped_Tax_Adj__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Shipped_Cost__c']"
										},
										"sink": {
											"name": "Total_Shipped_Cost__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Warehouse_Code__c']"
										},
										"sink": {
											"name": "Warehouse_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Warehouse__c']"
										},
										"sink": {
											"name": "Warehouse__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['imported__c']"
										},
										"sink": {
											"name": "imported__c",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoices.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						]
					},
					{
						"name": "get inv from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get Prod and Pricebook",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select Id,External_ID__c from Invoices_Crown__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoices_Crown__c"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "invoices.json"
								}
							}
						]
					},
					{
						"name": "invLine_upsert",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 1000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "External_ID__c",
								"ignoreNullValues": true,
								"maxConcurrentConnections": 1
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "blob",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@variables('tag')",
									"type": "Expression"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecordTypeId']"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['External_ID__c']"
										},
										"sink": {
											"name": "External_ID__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Invoices_Crown__c']"
										},
										"sink": {
											"name": "Invoices_Crown__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Product__c']"
										},
										"sink": {
											"name": "Product__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stock_Code__c']"
										},
										"sink": {
											"name": "Stock_Code__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['B_O_Suffix__c']"
										},
										"sink": {
											"name": "B_O_Suffix__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Morgan_Line__c']"
										},
										"sink": {
											"name": "Morgan_Line__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Quantity__c']"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_B_O__c']"
										},
										"sink": {
											"name": "Quantity_B_O__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Quantity_Shipped__c']"
										},
										"sink": {
											"name": "Quantity_Shipped__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Total_Amount__c']"
										},
										"sink": {
											"name": "Total_Amount__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Price_per_Part__c']"
										},
										"sink": {
											"name": "Price_per_Part__c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['H_E_Partner__c']"
										},
										"sink": {
											"name": "H_E_Partner__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CurrencyIsoCode']"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "invoice_lines.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Invoice_Line_Item_Crown__c"
								}
							}
						]
					},
					{
						"name": "getOppKeys",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "invoice_to_sf",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "opportunity_to_sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "opportunity_keys.json"
								}
							}
						}
					},
					{
						"name": "get Opp from sf",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "getOppKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat('select Id,Name,Morgan_External_ID__c from Opportunity where Morgan_External_ID__c in (',activity('getOppKeys').output.firstRow.keys,')')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_json",
								"type": "DatasetReference",
								"parameters": {
									"folder": "intake",
									"filename": "opps_head.json"
								}
							}
						]
					},
					{
						"name": "get Prod and Pricebook",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set query",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@variables('q')",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "salesforce_OBJ",
								"type": "DatasetReference",
								"parameters": {
									"objName": "Product2"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_csv",
								"type": "DatasetReference",
								"parameters": {
									"folder": "stage",
									"filename": "productpricebook.csv"
								}
							}
						]
					},
					{
						"name": "set query",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getProdKeys",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "q",
							"value": {
								"value": "@concat('select Id,Product2.Id,Product2.Product_Key__c,CurrencyIsoCode from PriceBookEntry where IsActive=true',if(greater(lastindexof(activity('getProdKeys').output.firstRow.keys,','),90000),'',concat(' and Product2.Product_Key__c in (',activity('getProdKeys').output.firstRow.keys,')')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "call pass 1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call pass 0-so",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:30:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "call pass 2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get inv from sf",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get Opp from sf",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:30:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "2"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "call pass 0-so",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set tag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:30:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sfi_dset",
								"type": "DatasetReference",
								"parameters": {
									"pass": "0-so"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "blob_TEXT",
								"type": "DatasetReference",
								"parameters": {
									"folder": "runs",
									"filename": "sfi_call.txt"
								}
							}
						]
					},
					{
						"name": "set tag",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "tag",
							"value": {
								"value": "@concat('data/logs/',formatDateTime(utcnow(),'yyyy-MM-ddTHH:mm'))",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"tag": {
						"type": "String"
					},
					"q": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pronto_SF"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}